.calendar{
    margin: 20px;
    width: 350px;
    /* height: 360px; */
    border: 1px solid #e1e1e1;
    padding: 0 10px;
    user-select: none;
    box-shadow: 0px 3px 5px 0px rgba(0, 0, 0, .1)
}
.calendar .header{
    width: 100%;
    height: 20px;
    padding: 15px 0px;
    text-align: center;
}
.calendar .header .picker-btn{
    display: inline-block;
    width: 30px;
    height: 100%;
    vertical-align: middle;
    padding: 0 10px;
    cursor: pointer;
}
.calendar .header .picker-btn:hover{
    color: #07C160;
}
.calendar .header .picker-date{
    width: auto;
    padding: 0 15px;
}
.calendar .header .picker-pre-year{
    background: url("./icon/pre-year.png") center center no-repeat ;
    background-size: 20px 20px;
}
.calendar .header .picker-pre-month{
    background: url("./icon/pre-month.png") center center no-repeat ;
    background-size: 20px 20px;
}.calendar .header .picker-next-month{
    background: url("./icon/next-month.png") center center no-repeat ;
    background-size: 20px 20px;
}.calendar .header .picker-next-year{
    background: url("./icon/next-year.png") center center no-repeat ;
    background-size: 20px 20px;
}




.calendar .week{
    display: flex;
    border-bottom: 1px solid #e1e1e1;    
}
.calendar .week>span{
    display: inline-block;
    width: 50px;
    padding: 10px 0px;
    text-align: center;
}

.calendar .content{
    width: 350px;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
}
.calendar .content>div{
    margin: 5px;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    color: #555;
    font-size: 14px;
    cursor: pointer;
}
.calendar .content>div.other-month{
    color: #ccc;
}
.calendar .content>div.other-month:hover{
    cursor: no-drop;
}
.calendar .content>div.is-curday{
    color: #07C160;
    font-weight: 700;
    font-size: 16px;
}
.calendar .content>div.is-select{
    background: #07C160;
    color: #fff;
    font-weight: 700;
    font-size: 16px;
    border-radius: 50%;
}
